
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

#urlList {
   width: 450px;
   height: 25px;
   font-size: 13px;
}

#textArea {
   width: 450px;
   height: 25px;
   font-size: 13px;
}